<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить тест</title>
</head>
<body>
<div>
    <div>
        <h2>Редактирование теста:</h2>
        <div>
            <form action="#" th:action="@{/edit}" th:object="${quiz}" method="post">
                <input type="hidden" name="id" th:field="${quiz.id}">
                <label for="name">Название</label>
                <input type="text" th:field="*{name}" id="name" placeholder="${quiz.name}">
                <label for="description">Описание</label>
                <input type="text" th:field="*{description}" id="description" placeholder="${quiz.description}">
                <input type="submit" value="Продолжить">
            </form>
        </div>
        <a th:href="@{/edit/{id}/questions (id=${quiz.id})}">Вопросы</a>
    </div>
</div>
</body>
</html>