<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать тест</title>
</head>
<body>
<div>
    <div>
        <h2>Создание теста</h2>
        <div>
            <form action="#" th:action="@{/add}" th:object="${quiz}" method="post">
                <label for="name">Название</label>
                <br>
                <input type="text" th:field="*{name}" id="name" placeholder="Название">
                <br>
                <label for="description">Описание</label>
                <br>
                <input type="text" th:field="*{description}" id="description" placeholder="Описание">
                <br>
                <input type="submit" value="Продолжить">
            </form>
        </div>
    </div>
</div>
</body>
</html>