<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${quiz.name}"></title>
</head>
<body>
<div>
    <h4 th:text="${quiz.name}"></h4>
    <h4 th:text="${quiz.description}"></h4>
</div>
<div th:switch="${questionsList.size()}">
    <h2 th:case="0">Пока что нет ни одного вопроса</h2>
    <div th:case="*">
        <h2>Список вопросов:</h2>
        <div>
            <form th:action="@{/{quiz_id}/submit (quiz_id=${quiz.id})}" th:object="${pickedMapWrapper}" method="post">
                <table>
                    <tbody>
                    <tr th:each="question : ${questionsList}">
                        <td th:text="${question.task}"></td>
                        <td th:each="answer : ${question.answers.entrySet()}">
                                <input type="radio"
                                       th:id="${answer.key}"
                                       th:name="${question.id}"
                                       th:field="*{pickedAnswerMap[__${question.id}__]}"
                                       th:value="${answer.key}"/>
                            <label th:for="${answer.key}" th:text="${answer.value}"></label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input type="submit" value="Продолжить">
            </form>
        </div>
    </div>
</div>
</body>
</html>